body {
  background-color: #F0E9D2;
    font-family: sans-serif;
    text-align: center;
} 

.kellerwilliams {
  font-family: sans-serif;
  text-align: center;
  font-size: large;
  
}
  
.exp-header {
  text-align: center; 
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: #678983;
}

.logo {
  text-align: center;
  
}

.summary {
  text-align: center;

}


li {
  text-align: center;
  
}
