body {
  background-color: #F0E9D2;
    font-family: sans-serif;
}

.kellerwilliams {
  background-color: green;
  font-family: sans-serif;
  text-align: center;
  font-size: large;
  
}
  
.exp-header {
  text-align: center; 
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: white (0,0,0, 0.1)
}

.logo {
  text-align: center;
  
}

